<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
     <add name="CNMP" connectionString="Data Source=SHDBDev1.vipabc.com;Initial Catalog=CNMP;User ID=CNMPacct;Password=Rx9y1FZ4uG;Max Pool Size = 300" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>